name: Data Refresh Dev

on:
  schedule:
    - cron:  '0 */4 * * *'
jobs:
  data_refresh_dev:
    name: coronavirus dataset refresh dev
    runs-on: ubuntu-18.04
    container:
     image: docker.io/rkrispin/coronavirus:dev.0.3.1.9000
    steps:
      - name: checkout_repo
        uses: actions/checkout@v2
        with:
          ref: 'dev'
      - name: Refresh the data
        run: bash ./data_raw/data_refresh.sh
  data_refresh_master:
    name: coronavirus dataset refresh master
    runs-on: ubuntu-18.04
    container:
     image: rkrispin/coronavirus:dev
    steps:
      - name: checkout_repo
        uses: actions/checkout@v2
        with:
          ref: 'master'
      - name: Refresh the data
        run: bash ./data_raw/data_refresh.sh
